html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow:hidden;
}
.icones-navbar{
    margin-right:130px;
}
.aside-menu {
    min-height: 100vh;
    margin-top: -16px;
    float: left;
    background-color: #039090;
    border-top: 3px solid #007171;
    border-left: 10px solid #007171;
    border-right: 10px solid #007171;
    border-bottom: 3px solid #007171;
}
.aside-menu a{
    color: #000000;
    text-decoration: none;
}
.aside-menu a:hover {
     color: #f4fdff;
     text-decoration: none;
     cursor: pointer;
}
.aside-menu a:focus {
     color: #f4fdff;
     text-decoration: none;
}
.header-bg-color {
    background-color: #039090;
}
.header-bg-color a:hover{
    color: #f4fdff !important;
}
.barra-pesquisar{
    margin-left: 500px;
}

.funcionalidades {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 5px;
}