<header class="header-bg-color">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 py-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="bi bi-stars h1"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex justify-content-center barra-pesquisar">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-person h3" data-bs-toggle="tooltip" title="Usuário"></i>
                        </a>
                    </li>
                    <li class="nav-item icones-navbar dropdown">
                        <a class="nav-link text-dark" id="dropdown-modulos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-list h3" data-bs-toggle="tooltip" title="Módulos"></i>
                        </a>
                        <!--Área dos módulos-->
                       
                        <ul class="dropdown-menu dropdown-style" aria-labelledby="dropdown-modules">

                            @*@foreach (var modulo in Model)
                            {
                                
                            }*@
                                <li class="item-menu item-decoration-cad" id="modulo-cadastro">
                                    <a class="cad-menu" href="#" data-module="">
                                        <span class="title bi bi-list-stars"> Cadastro </span>
                                    </a>
                                </li>

                                <li class="item-menu item-decoration" id="modulo-adm">
                                    <a class="cad-menu" href="#" data-module="">
                                        <span class="title bi bi-briefcase"> Administrativo </span>
                                    </a>
                                </li>
 
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>