<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 aside-menu" data-bs-toggle="collapse">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="modulos-funcionalidades">

            <li class="funcionalidades">
                <i class="bi bi-gear-fill"></i> <span class="ms-1 d-none d-sm-inline">Funcionalidades</span>
            </li>
            
            <li class="habilitar-cadastro visibilidade-funcao" id="funcao-cadastro">
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi bi-list-stars"></i> <span class="ms-1 d-none d-sm-inline">Cadastro</span>
                </a>
                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="@Url.Action("ObterTodasDespesa","Despesa")" class="nav-link px-0">
                            <i class="fs-4 bi bi-coin"></i>
                            <span class="d-none d-sm-inline">Despesa</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ObterTodasReceita","Receita")" class="nav-link px-0">
                            <i class="fs-4 bi bi-piggy-bank-fill"></i>
                            <span class="d-none d-sm-inline">Receita</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="habilitar-admnistrativo visibilidade-funcao" id="funcao-administrativo">
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi bi-briefcase"></i> <span class="ms-1 d-none d-sm-inline">Administrativo</span>
                </a>
                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link px-0">
                            <i class="fs-4 bi bi-people-fill"></i>
                            <span class="d-none d-sm-inline">Usuários</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0">
                            <i class="fs-4 bi bi bi-shield-lock"></i>
                            <span class="d-none d-sm-inline">Permissões</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
    </div>
</div>