@model ControleFinanceiro.Servicos.EntidadeServico.DespesaVO
@{
    ViewData["Title"] = "AdicionarDespesa";
}
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <form id="frmDespesa" class="needs-validation" asp-action="AdicionarDespesa">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="modal-header">
                            <h5 class="title-lable-dizimista"> Criar Despesa </h5>
                            <a asp-action="ObterTodasDespesa" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar">
                            </a>
                            <hr />
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label> </label>
                                    <input asp-for="Descricao" class="form-control" placeholder="Descrição" id="descricao" />
                                    <div class="invalid-feedback" id="descricaoErro"></div>
                                </div>
                                <div class="col-md-6">
                                    <label> </label>
                                    <input asp-for="CreatedAt" class="form-control" id="periodo" />
                                    <div class="invalid-feedback" id="periodoErro"></div>
                                </div>
                                <div class="col-md-6">
                                  <label> </label>
                                    <input asp-for="Valor" class="form-control" placeholder="Valor" id="valor" />
                                    <div class="invalid-feedback" id="valorErro"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <hr />
                            <div>

                                <div class="form-group form-inline">
                                    <div>
                                        <input id="submitButton" type="submit" value="Salvar" class="btn btn-primary" disabled>
                                        <a class=" btn btn-info" data-bs-dismiss="modal">Voltar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/adicionardespesa/adicionardespesareceita.js"></script>