@model ControleFinanceiro.Servicos.EntidadeServico.DespesaVO
@{
    ViewData["Title"] = "_AdicionarDespesa";
}
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <form class="needs-validation" asp-action="AdicionarDespesa">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="modal-header">
                            <h5 class="title-lable-dizimista"> Criar Despesa </h5>
                            <a asp-action="ObterTodasDespesa" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar">
                            </a>
                            <hr />
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="Descricao" class="control-label title-lable-dizimista">Descrição</label>
                                    <input asp-for="Descricao" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="CreatedAt" class="control-label title-lable-dizimista">Período</label>
                                    <input asp-for="CreatedAt" class="form-control" />
                                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="Valor" class="control-label title-lable-dizimista">Valor</label>
                                    <input asp-for="Valor" class="form-control" />
                                    <span asp-validation-for="Valor" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <hr />
                            <div>

                                <div class="form-group form-inline">
                                    <div>
                                        <input type="submit" value="Salvar" class="btn btn-primary">
                                        <a class=" btn btn-info" data-bs-dismiss="modal">Voltar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ModalDespesa.js"></script>