@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title> Controle Financeiro </title>
    <link rel="icon" type="image/x-icon" href="@(Url.Content(""))" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
    <link href="~/css/login/login.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>


    <section class="vh-80 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-white text-black" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-3 mt-md-4 pb-1">
                                <form asp-controller="Login" asp-action="Login">
                                <div class="d-inline-flex">
                                <i class="bi bi-stars h1 text-black"></i>
                                <h2 class="fw-bold mb-2 text-uppercase me-4">Login</h2>
                                </div>
                                <p class="text-black-50 mb-5">Informe seu login e senha</p>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="email" id="email" name="email" class="form-control form-control-lg" />
                                    <label class="form-label" for="email">Email</label>
                                    <span class="text-danger" id="emailError"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="text" name="senha" id="senha" class="form-control form-control-lg" />
                                    <label class="form-label" for="senha">Senha</label>
                                    <span class="text-danger" id="nameError"></span>
                                </div>

                                <p class="mb-5 pb-lg-2"><a class="text-black-50" href="#!">Esqueceu sua senha?</a></p>

                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-lg px-5" type="submit">Login</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            const nameInput = document.getElementById('name');
            const emailInput = document.getElementById('email');
            nameInput.addEventListener('input', validateName);
            emailInput.addEventListener('input', validateEmail);

            function validateName() {
                const nameError = document.getElementById('nameError');
                if (!nameInput.value) {
                    nameError.textContent = 'Informe um nome';
                } else if (nameInput.value.length < 6) {
                    nameError.textContent = 'Informe um nome com pelo menos 6 caracteres';
                } else {
                    nameError.textContent = '';
                }
            }

            function validateEmail() {
                const emailError = document.getElementById('emailError');
                if (!emailInput.value) {
                    emailError.textContent = 'Informe um email';
                } else if (!emailInput.checkValidity()) {
                    emailError.textContent = 'Informe um email válido';
                } else {
                    emailError.textContent = '';
                }
            }

        });

    </script>

</body>
</html>